/* body {
    margin: 0;
    width: 100%;
    height: 100vh;
  background-image: url(../img/pexels-thirdman-5582599.jpg);

  background-size: cover;
  @apply bg-red-300;
  backdrop-filter: blur(4px);
} */
a {
  color: #a59187;
}
.form {
  background-color: aliceblue;
  border-radius: 12px;
  width: 50%;
  margin: auto;
  padding: 50px;
}
.logo {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
}
.container {
  margin: auto;
}
input {
  /* border: none; */
  /* outline: none; */
  border: 1px #8fbdd3 solid;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
}
button {
  padding: 11px;
  background-color: #8fbdd3;
  border: none;
  color: aliceblue;
}

.formContetTwo form {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
}


@media screen and (max-width: 768px) {
  .form {
    background-color: aliceblue;
    border-radius: 12px;
    width: 70%;
    margin: auto;
    padding: 13px;
  }
}
